<div class="my-scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="my-scene-fade-arrow-bottom" x-mojo-scroll-fade="bottom"></div>

<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
	<div id="title-first" class="title left">
		First Launch
	</div>
	<div class="subtitle">Programme TV <span style="color: red;"><b>beta</b></span></div>
	</div>
</div>

<div id="touchpad">

<div class="palm-group">
	<div id="select-languages" class="palm-group-title">
		<span x-mojo-loc="">Select Language</span>
	</div>
		<div class="palm-row-first" x-mojo-element="delayed">
		<div class="palm-row-wrapper">
			<div id="selectLang" x-mojo-element="ListSelector"></div>
		</div>
		</div>
</div>
<img src="icon-bug.png" alt="logo" style="margin: 0 5px 0 10px; width: 64px; height: 64px; float: left;" />
<div id="content" class="palm-body-text" style="margin-top: 10px;"></div>
<div class="palm-group">
	<div id="title-support" class="palm-group-title">
		<span x-mojo-loc="">Support</span>
	</div>
	<div class="palm-list">
	<div id="twitter" class='palm-row first' x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="text-twitter" class="label left">Twitter</div>
				<div id="text-twitter2" class="title right">@cyrilmorales</div>
			</div>
	</div>
	<div id="forum" class='palm-row first' x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="text-forum" class="label left">Forum</div>
				<div id="text-subject" class="title right">Subject</div>
			</div>
	</div>
		<div id="email" class='palm-row last' x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div class="label left">Email</div>
				<div id="text-send-email" class="title right">Send Email</div>
			</div>
		</div>
	</div>
</div>
		
<table class="palm-divider labeled"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			1.3.1
		</td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div class="palm-body-text">
	<ul style="margin:0 0 0 -20px;">
		<li>Updated 7-days view.</li>
	</ul>
</div>			
<table class="palm-divider labeled"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			1.3.0
		</td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div class="palm-body-text">
	<ul style="margin:0 0 0 -20px;">
		<li>Added USA channels for testing</li>
		<li>Added icons for GB and USA channels</li>
	</ul>
</div>		
<table class="palm-divider labeled"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			1.2.9
		</td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div class="palm-body-text">
	<ul style="margin:0 0 0 -20px;">
		<li>Added Italian channels</li>
	</ul>
</div>
<table class="palm-divider labeled"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			1.2.8
		</td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div class="palm-body-text">
	<ul style="margin:0 0 0 -20px;">
		<li>Updated Spanish, Britain, and German channels</li>
		<li>Added Swiss channels</li>
		<li>Updated logo channels</li>
	</ul>
</div>
<table class="palm-divider labeled"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			1.2.7
		</td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div class="palm-body-text">
	<ul style="margin:0 0 0 -20px;">
		<li>Server updated</li>
		<li>Added french, Irish, and Britain TV channels</li>
		<li>Added rating for movies if available</li>
		<li>Fixed timezone bug</li>
	</ul>
</div>
<table class="palm-divider labeled"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			1.2.6
		</td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div class="palm-body-text">
	<ul style="margin:0 0 0 -20px;">
		<li>Removed unmaintained catalogs (Belgium, Italy, Switzerland)</li>
	</ul>
</div>
<table class="palm-divider labeled"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			1.2.5
		</td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div class="palm-body-text">
	<ul style="margin:0 0 0 -20px;">
		<li>Added 7 days TV guide</li>
		<li>Configurable early evening</li>
	</ul>
</div>
<table class="palm-divider labeled"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			1.2.4
		</td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div class="palm-body-text">
	<ul style="margin:0 0 0 -20px;">
		<li>Added Time Difference</li>
		<li>Added Spanish and Italian languages</li>
		<li>Added Italian DVB-T catalog</li>
	</ul>
</div>
<table class="palm-divider labeled"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			1.2.3
		</td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div class="palm-body-text">
	<ul style="margin:0 0 0 -20px;">
		<li>Updated for Pre3</li>
		<li>TouchPad compatible</li>
		<li>Updated English catalog (more channels)</li>
	</ul>
</div>

<div class="palm-row single">
                <div class="palm-row-wrapper">
<div x-mojo-element="CheckBox" class="right" id="checkbox"></div>
<div class="title" id="textCheckbox">Do not show this msg again</div>
</div></div>

</div>

<div class="scene-footer">
	<div class="scene-footer-wrapper">
		<div x-mojo-element="Button" id="button" x-mojo-touch-feedback="delayed"></div>			
	</div>
</div>
<div class="scene-footer-spacer"></div>  